<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.gepardec.picturegallery.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>latestPost</servlet-name>
        <servlet-class>com.gepardec.picturegallery.controller.LatestPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>latestPost</servlet-name>
        <url-pattern>/latestPost</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>